<a href="https://colab.research.google.com/github/morphingdesign/tfExplore/blob/master/TF_Syntax_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparing the Data

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

%matplotlib inline

In [3]:
sns.set_style('whitegrid')

In [5]:
df = pd.read_csv('sample_data/data/fake_reg.csv')
df.head()

        price     feature1     feature2
0  461.527929   999.787558   999.766096
1  548.130011   998.861615  1001.042403
2  410.297162  1000.070267   998.844015
3  540.382220   999.952251  1000.440940
4  546.024553  1000.446011  1000.338531